<section class="thirteen columns">
    <h1>Awards</h1>
    <article>
        <header>
            <h1>2020 FIDO Challenge</h1>
            <span><address></address><time></time></span>
        </header>
        <p><em>지문인증486</em><br>
        &nbsp; &nbsp;FIDO 인증 체계를 접목한 문서 파일 공유 시스템<br>
        &nbsp; &nbsp;Server와 Web에서 Login 구현 (Django, MySQL) <br>
        &nbsp; &nbsp;동상 수상<br>
        &nbsp;&nbsp;2020 ICEA 논문 투고<br>
        </p>
    </article>

    <article>
        <header>
            <h1> 2024 SpritCyber hackaton</h1>
            <span><address></address></span>
        </header>
        <p>
            Team <em>REDALERT</em><br>
        &nbsp; &nbsp;Alcatel Router Command Injection (Team 취약점)<br>
        &nbsp; &nbsp;Bug Bounty $xxx 수령<br> 
        </p>
    </article>