<section class="thirteen columns">
    <h1>CVE</h1>
    <article>
        <header>
            <h1>CVE-2025-11009</h1>
            <span><address> </address><time></time></span>
        </header>
        <p>
            <em>GT Designer3</em><br>
            Cleartext Storage of Sensitive Information<br>
            HMI 관련 취약점 연구하다 찾은 취약점<br>
        </p>
    </article>

    <article>
        <header>
            <h1>CVE-2025-52688</h1>
            <span><address> </address><time></time></span>
        </header>
        <p><em>Alcatel Router</em><br>
        Command Injection<br>
        2024 SpritCyber Hackaton에서 팀 REDALERT으로 참가하여 찾은 취약점<br>
        </p>

</section>