<section class="thirteen columns">
    <h1>CVE</h1>
    <article>
        <header>
            <h1>CVE-2025-11009</h1>
            <span><address> </address><time></time></span>
        </header>
        <p><em>Information Disclosure Vulnerability in GT Designer3</em><br>
            - 직접 찾은 취약점<br>
        </p>
    </article>

    <article>
        <header>
            <h1>CVE-2025-52688</h1>
            <span><address> </address><time></time></span>
        </header>
        <p><em>Alcatel Router Command Injection</em><br>
            - 2024 SpritCyber Hackaton에서 팀 REDALERT으로 참가하여 찾은 취약점<br>
            - Command Injection
        </p>

</section>