<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>정보보호학 편입학</h1>
            <span>순천향대학교</span>
            <span><address>충남 아산</address><time>2020 ~ 2022</time></span>
        </header>
        <p>
            논문 : <em>Proposed On-site Document Sharing System using FIDO (2020 ICEA)</em><br>
            논문 : <em>시큐어 코딩 관점에서의 상용 공유기 분석 사례 (2021 한국정보보호학회 동계학슬대회)</em><br>
            </em>
        </p>
    </article>
    
    <article>
        <header>
            <h1>컴퓨터학부</h1>
            <span>세명대학교</span>
            <span><address>충북 제천</address><time>2016.03 ~ 2020.02</time></span>
        </header>
    </article>
</section>