i<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>모바일 1-day 취약점 재연</h1>
            <span><address></address><time>2022</time></span>
        </header>
        <p>
        H사의 1-day Bootrom 취약점 분석 및 PoC 작성 <br>
        임의의 파티션에 원하는 이미지 플래싱 성공 <br>
        </p>
    </article>

    <article>
        <header>
            <h1>CTF 문제제작 및 운영</h1>
            <span><address>Singapore, US, Saudi Arabia</address><time>2022-2025</time></span>
        </header>
        <p>
        <em>국내</em><br>
        &nbsp;산업 통상 자원부, 경북/충청 사이버 공격 방어 대회 문제 출제 및 운영<br><br>

        <em>해외</em><br>
        &nbsp;DEFCON 30-32 REDALERT ICS CTF 문제 출제 및 운영<br>
        &nbsp; &nbsp;<strong>DEFCON31/32 Blackbadge 수여<br></strong>
        &nbsp;BlackHat MEA, DSTA CDDC CTF 문제 출제 및 운영<br>
        &nbsp; &nbsp;<strong>Bootrom, CNMP, HMI, Hooking 등</strong>
        </p>
    </article>

    <article>
        <header>
            <h1> OT/IoT 교육</h1>
            <span><address>South Korea</address><time>2022~2025</time></span>
        </header>
        <p>
        <em>ICS/SCADA</em><br>
        &nbsp;EWS 퍼징 및 익스플로잇 작성 교육<br>
        &nbsp;ICS/SCADA 프로토콜 분석<br>
                
        <em>IoT 관련 교육 진행</em> 
        &nbsp;익스플로잇 기초 및 공격코드 작성<br>
        &nbsp;펌웨어 추출<br>
        </p>
    </article>

    <article>
        <header>
            <h1>스마트 선박 프로젝트</h1>
            <span><address>South Korea</address><time>2024</time></span>
        </header>
        <p>
        스마트 선박 공격 시나리오 설계 및 실증 코드 작성<br>
        API Hooking PoC 코드 제작 및 시연<br>
        PLC 프로토콜 공격 시나리오 작성 및 시연<br>
        </p>
    </article>

    <article>
        <header>
            <h1>테스트베드 제작 사업</h1>
            <span><address>South Korea</address><time>2022-2025</time></span>
        </header>
        <p>
        테스트베드 내부 로직 설계<br>
        공격 시나리오 설계 및 PoC 코드 작성<br>
        </p>
    </article>